* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
    width: 90vw;
    gap: 1rem;
}

.panel {
    background-size: auto 110%;
    ;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    color: white;
    cursor: pointer;
    flex: 0.5;
    position: relative;
    transition: flex 0.5s ease-in;
    overflow: hidden;
    border-radius: 2.5rem;
}

.panel h3 {
    font-size: 1.5rem;
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
    opacity: 0;
}

.panel.active {
    flex: 5;
}

.panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

.panel:nth-of-type(1) {
    background-image: url('https://images.unsplash.com/photo-1434725039720-aaad6dd32dfe?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1642&q=80');
}

.panel:nth-of-type(2) {
    background-image: url('https://images.unsplash.com/photo-1511884642898-4c92249e20b6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
}

.panel:nth-of-type(3) {
    background-image: url('https://images.unsplash.com/photo-1433838552652-f9a46b332c40?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
}

.panel:nth-of-type(4) {
    background-image: url('https://images.unsplash.com/photo-1419242902214-272b3f66ee7a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1213&q=80');
}

.panel:nth-of-type(5) {
    background-image: url('https://images.unsplash.com/photo-1604537466573-5e94508fd243?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80');
}

@media (max-width: 475px) {

    .panel:nth-of-type(4) {
        display: none;
    }

    .panel:nth-of-type(5) {
        display: none;
    }
}